body {
  background-color: black;
}
.link{
  color: Aquamarine;
  font-size: 16px;
}
.title {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
img {
  background-color: black;
}
video {
  object-fit: contain;
}
